<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-指针的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-多级指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>05-指针与整数的加减法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>11-指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>824359A41FE50A04004383A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824359AF1FE51EEC004383A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82DE33171FE18CEF00BAB97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82DE33251FE1915F00BAB97B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82FFCC1F1FE2CF730043C120</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
