<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-指针和字符串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>02-面试题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>03-字符串数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-字符串排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>05-字符串函数补充.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>12-指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8214D1EB1FF5399300025AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8214D1F61FF53CE900025AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8214D2011FF545A000025AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82724D4D1FE965920091CB6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82972DC81FF2B20B001CEB45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82BBBB041FE82BF9007D0B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
