<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-scanf函数的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>03scanfDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>04-scanf函数的其它用法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>05-scanf函数的缓冲区.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>07-算术运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>08-符合赋值运算符.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>09-交换两个变量的值.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8243A8D51F6ABBDC00D980A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8243A8E01F6AD83300D980A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824DACFF1F681A0E00407A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824DAD0D1F6829AC00407A31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82C446A41F697EEB003E4D4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D624B21F700BE000946AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82EB98EE1F715A1D00D99EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
