<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03-数组的基本使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>04-数组在内存中的存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>04-数组的概述.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>05-数组的应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>06-数组与函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>07-数组的其他应用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>08-数组的排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>09-数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>821D11B91FBC91930093F205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821D11C41FBC9E250093F205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822094171F9F94CA00004D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822094251F9F973400004D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>823388881FB9D418007B7090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>823388931FB9D9D9007B7090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828C46C41FBB4AA500FC450F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82CCCC2B1FA0DAA600B7925F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
